@model IEnumerable<ECMAvaliacaoMVC.Models.Entidades.Produto>
    @{
        ViewBag.Title = "Produtos";
    }

    <div class="row">
        <div class="col-md-12">
            <h1>Pesquisar produtos</h1>
            <p class="lead">Digite o nome do produto que deseja pesquisar em nosso catálogo</p>
        </div>
        <div class="col-md-12">
            <div id="div-pesquisa-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Digite" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Cód.</th>
                        <th>Nome</th>
                        <th>Marca</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Codigo</td>
                            <td>@item.Nome</td>
                            <td>@item.Marca.Nome</td>
                            <td>@item.Preco</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
